@model WebBanQuanAo.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/@Model.HinhSP" style="height:250px;width:300px;" />
        </div>
        <div class="col-md-8">
            <h2>@Model.TenSP</h2>
            <div class="row">
                <div class="col-md-6">Nhà Cung Cấp: @Model.NhaCungCap.TenNCC</div>
                <div class="col-md-6">Danh Mục: @Model.DanhMuc.TenDM</div>
            </div>
            <div class="row">
                <h1 class="col-md-12" style="text-align:center">@Model.GiaSP $</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-success" href="/ShoppingCart/Order?id=@Model.MaSP">Thêm giỏ hàng</a>
                    <a class="btn btn-warning" href="/sanphams/list">Quay về</a>
                </div>
                @*<div class="col-md-6"><a href="~/cart/Buy?id=@Model.MaSach" class="btn btn-info"> Buy </a>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="row card">
        <h2>Thông Tin Sản Phẩm</h2>
    </div>
    <div class="row card">
        <table class="table table-striped">
            <tr>
                <td>Mã Sản Phẩm</td>
                <td>@Model.MaSP</td>
            </tr>
            <tr>
                <td>Màu Sắc</td>
                <td>@Model.MauSac</td>
            </tr>
        </table>
    </div>
    <div class="row card">
        <h2>Mô Tả</h2>
        <p style="padding:10px;">@Model.MoTa</p>
    </div>
</div>