@model IEnumerable<WebBanQuanAo.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quảng lý sản phẩm</h2>

<p>
   <a href="/sanphams/create" class="btn btn-success">Thêm mới</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MauSac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNCC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MauSac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSP })
        </td>
    </tr>
}

</table>
